<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<script src="https://my.openwrite.cn/js/readmore.js" type="text/javascript"></script>
<script>
  var btw = new BTWPlugin();
  setTimeout(function(){
    window.btw.init({
      id: "container",
      blogId: "17446-1571644985832-648",
      name: "力扣加加",
      qrcode:
        "https://tva1.sinaimg.cn/large/008eGmZEly1gomv7ug3bnj30760763yz.jpg",
      keyword: "more",
    });
  }, 100)
</script>
<body>
  <%
  var showCover = false;
  if (theme.cover) {
    // 如果页面的Front-matter声明了cover，就取页面的值
    if (page.cover != undefined && page.cover != undefined) {
      showCover = page.cover;
    } else {
      // 否则，如果是首页，只有首页的第一页显示
      if (is_home()) {
        if (page.prev) {
          showCover = false;
        } else {
          showCover = true;
        }
      } else {
        showCover = true;
      }
    }
  }
  %>
  <%- partial('_partial/cover', {showCover: showCover}) %>
  <div id="container" class="l_body<%- showCover ? '' : ' nocover' %>">
    <div class='body-wrapper'>
      <%- body %>
      <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
